* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden scroll;
}



.fixed-header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    z-index: 9999;
    background-color: white;
    flex-wrap: wrap;
    max-height: 81px;
    min-height: 81px;
}

@media screen and (max-width: 1000px) {
    .fixed-header ul {
        display: none;
    }
}

.fixed-header ul {
    padding: 30px 0;
    align-self: center;
}

.fixed-header ul li {
    display: inline-block;
}

.fixed-header ul li button {
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
}

.fixed-header ul li button a:hover {
    color: rgb(193, 193, 193);
}

.fixed-header ul li:nth-child(2) {
    margin-right: 400px;
}

.fixed-header ul li:not(:last-child, :nth-child(2)) {
    margin-right: 200px;
}


.fixed-header ul li button a {
    text-decoration: none;
    color: black;
}

.menu-button {
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 5px;
    width: 81px;
    position: fixed;
}

@media screen and (max-width:1000px) {
    .menu-button {
        display: flex;
    }
}

.logo {
    align-self: center;
    position: fixed;
    padding: 20px 0;
}

.logo img {
    width: 41px;
}
main {
    position: absolute;
    top:81px;
    display: flex;
    /* background-color: black; */
    width: 100%;
}

.mandu-buy-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 600px);
    grid-template-rows: repeat(2, 800px);
    width: 100%;
    margin: 0 50px;
}

@media screen and (max-width:1000px) {
    .mandu-buy-list {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:600px){
    .mandu-buy-list{
        margin-left: 0; 
        column-gap: 0;
        margin-right: 0;
    }
    .mandu-buy-list div {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}

@media screen and (min-width:601px) {
    .mandu-buy-list div {
        border: 1px solid black;
    }
}

.mandu-buy-list div {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
}

.mandu-buy-list div button {
    color:black;
    background-color: rgb(0, 0, 0, 0);
    line-height: 50px;
    font-size: 30px;
    font-weight: lighter;
    width:450px;
    align-self: center;
    position: absolute;
    top: 500px;
    cursor: pointer;
    border: 1px solid blue;
}

.mandu-buy-list div img  {
    align-self: center;    
    width: 450px;
    top: 30px;
    position: absolute;
}