* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden scroll;
}


main {
    position: absolute;
    top:81px;
    display: flex;
    /* background-color: black; */
    width: 100%;
}

.mandu-buy-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 600px);
    grid-template-rows: repeat(2, 800px);
    width: 100%;
    margin: 0 50px;
}

@media screen and (max-width:1000px) {
    .mandu-buy-list {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:600px){
    .mandu-buy-list{
        margin-left: 0; 
        column-gap: 0;
        margin-right: 0;
    }
    .mandu-buy-list div {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}

@media screen and (min-width:601px) {
    .mandu-buy-list div {
        border: 1px solid black;
    }
}

.mandu-buy-list div {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
}

.mandu-buy-list div button {
    color:black;
    background-color: rgb(0, 0, 0, 0);
    line-height: 50px;
    font-size: 30px;
    font-weight: lighter;
    width:450px;
    align-self: center;
    position: absolute;
    top: 500px;
    cursor: pointer;
    border: 1px solid blue;
}

.mandu-buy-list div img  {
    align-self: center;    
    width: 450px;
    top: 30px;
    position: absolute;
}

.hidden {
    display: none;
}